/*---------------------------------------------------------------------
* Author WebCreations907 http://themeforest.net/webcreations907
* 
* == Table Of Contents ==
* 1- Reset
* 2- Basic Styles
* 3- Page Setup
* 4- MenuBar
* 5- Blog Posts
*   5.1- Post Formats
*     5.1.1- Link Format
*     5.1.2- Quote Format
*   5.2- Blog Small Image Layout
*   5.3- Blog Masonry Layout
*   5.4- Author BIO
*   5.5- Comments
* 6- Widgets
* 7- Footer
* 8- MISC
*   8.1- Pagination
*   8.2- BreadCrumb
*   8.3- FlexSlider
*   8.4- Image Wrapper
*   8.5- Form Fields
*   8.6- Button Styles
*   8.7- isoType
* 9- Media Queries
* 
------------------------------------------------------------------------*/

/************************************************************************
* 1- Reset
*************************************************************************/

*{
  outline: none !important;
}

body,
html{
  height:100%;
  min-height: 100%;
}

select{
  max-width: 100%;
}

iframe{
  border: none;
}

embed,
object{
  max-width: 100%;
  border: none;
}

img{
  max-width: 100%;
  height:auto;
}

/************************************************************************
* 2- Basic Styles
*************************************************************************/

body{
  background-color:#292929;
  color:#868686;
  font-family: 'Roboto', sans-serif;
  font-size: 13px; 
  line-height: 1.53486;
  font-weight:300; 
  position: relative;
}

a,
a:hover,
a:focus{
  color:#fa8322;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  /*letter-spacing: -0.01em;*/
  margin-top:0;
  color:#404040;
}

blockquote{
  margin: 14px 0;
}
.wbc-lead-font{
  font-size: 16px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.aligncenter{
  clear: both;
  display: block;
  margin: 0 auto;
}

.alignleft{
  float: left;
}

.alignright{
  float: right;
}

img.alignleft{
  margin-right: 14px;
}

img.alignright{
  margin-left: 14px;
}

.wbc-video-wrap{
  position: relative;
  padding: 0 0 56.25% 0;
  height: 0;
  overflow: hidden;
}

.wbc-video-wrap iframe{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%
}

.anchor-link{
  position: absolute;
  top:0px;
  left:0;
}

.full-height{
  min-height:100vh;
}

.sticky{}
.wp-caption{
  max-width: 100%;
  margin-bottom:20px;
}
.wp-caption-text{}
.bypostauthor{}


/************************************************************************
* 3- Page Setup
*************************************************************************/

.page-wrapper{
  background-color: #fbfbfb;
  overflow: hidden;
}

.has-fixed-menu .page-wrapper{
  padding:83px 0 0;
}

.has-top-bar .page-wrapper{
  padding:118px 0 0;
}

.has-transparent-menu .page-wrapper,
.has-standard-menu .page-wrapper{
  padding:0;
}

.has-bottom-menu .page-wrapper,
.has-standard-menu.menu-after-row .page-wrapper{
  padding:0 !important;
}

.main-content-area{
  /*min-height: 800px;*/
  padding:55px 0;
}

.full-width-template .main-content-area{
  padding:0;
}

.page-content{
  word-wrap:break-word;
  /*overflow: hidden;*/ 
  width: 100%;
}

.full-strecth{
  max-width: 1170px;
  margin: 0 auto;
}

.wbc-boxed-wrapper,
.wbc-boxed-wrapper .header-bar,
.wbc-boxed-wrapper .container,
.wbc-boxed-wrapper .bottom-fixed-menu,
.wbc-boxed-wrapper .is-sticky{
  max-width:1200px;
}

.wbc-boxed-wrapper{
  margin: 0 auto;
  overflow: hidden;
}

/************************************************************************
* 4- MenuBar
*************************************************************************/
.has-transparent-menu .menu-bar-wrapper{
  -webkit-transition: all 0.30s linear 0s;
          transition: all 0.30s linear 0s;
  background-color:transparent;
  box-shadow: none;
}

.has-transparent-menu .menu-bar-wrapper:not(.is-sticky),
.has-transparent-menu .menu-bar-wrapper:not(.is-sticky) .menu-icon,
.has-transparent-menu .menu-bar-wrapper:not(.is-sticky) .wbc_menu > li > a{
  color:#fff;
}

.has-transparent-menu .menu-bar-wrapper:not(.is-sticky) .menu-icon:hover,
.has-transparent-menu .menu-bar-wrapper:not(.is-sticky) .menu-icon.menu-open,
.has-transparent-menu .menu-bar-wrapper:not(.is-sticky) .wbc_menu > li > a:hover,
.has-transparent-menu .menu-bar-wrapper:not(.is-sticky) .wbc_menu > li.active > a{
  color:#fa8322;
}

.has-transparent-menu .primary-menu.mobile-show .wbc_menu > li > a{
  color: inherit !important;
}

.site-logo-title .wbc-alt-logo{
  opacity: 0;
  filter: alpha(opacity=0);
}

.has-transparent-menu .menu-bar-wrapper:not(.is-sticky) .site-logo-title .wbc-alt-logo{
  opacity: 1;
  filter: alpha(opacity=100);
}

.has-transparent-menu .menu-bar-wrapper:not(.is-sticky) .site-logo-title .wbc-main-logo{
  opacity: 0;
  filter: alpha(opacity=0);
}
.has-transparent-menu .is-sticky .site-logo-title .wbc-alt-logo{
  opacity: 0;
  filter: alpha(opacity=0);
}
.has-transparent-menu .is-sticky .site-logo-title .wbc-main-logo{
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-bar .container{
/*  width: 100%;
  padding:0 30px;*/
}
.menu-bar-wrapper.is-sticky,
.menu-bar-wrapper{
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
  background-color:#fff;
  width:100%;
}

.menu-bar-wrapper.is-sticky{
  -webkit-backface-visibility: hidden;
}

.header-bar{
  z-index: 2000;
  position: relative;
  width: 100%;
}

.standard-menu{
  position: relative;
}

.bottom-fixed-menu{
  position:absolute;
  bottom:0;
  width: 100%;
}

.top-fixed-menu{
  position: absolute;
  top:0;
}

.header-inner{
   min-height: 83px;
   position: relative;
}

.site-logo-title.logo-text{
  line-height: 83px;
}

.primary-menu .wbc_menu > li{
  line-height: 83px;
}

.header-bar.has-top-bar{
  border-bottom:1px solid #fff;
}

.top-extra-bar{
  min-height: 35px;
  font-size: 13px;
  color:#f7f7f7;
  background-color: #fa8322;
  border-bottom:1px solid #e34c02;
}

.top-extra-bar .left-top-bar i{
  font-size: 15px;
}

.top-extra-bar .left-top-bar{
  float: left;
  display: inline-block;
  font-size: 12px;
  line-height: 36px;
}

.left-top-bar .left-content-top{
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-top-bar .left-content-top li{
  float: left;
  margin-right: 6px;
}
.top-extra-bar .right-top-bar{
  float: right;
  display: inline-block;
}

.site-logo-title{
  display: inline;
}

.site-logo-title a{
  text-decoration: none;
  color:#2b2b2b;
}

.site-logo-title a:hover{
  color:#fa8322;
}

.site-logo-title.logo-text{
  font-size: 25px;
  font-family: "Roboto",sans-serif;
  font-weight: 100;
}
.site-logo-title.has-logo{
  display: inline-block;
  position: absolute;
  top:0;
  left:0;
  height: 100%;

  overflow: visible !important;
}

.site-logo-title.has-logo a{
  display: block;
  position: relative;
  height: 100%;
}

.site-logo-title img{
  max-width: none;
  display: block;
  width: auto;
  max-height: 100%;
  z-index: 0;
  
  left:0;
  top:50%;
  position: absolute;
  -webkit-transform:translateY(-50%);
      -ms-transform:translateY(-50%);
          transform:translateY(-50%);
}

.primary-menu{
  display: inline-block;
  float: right;
  height: 100%;
  z-index: 1000;
}

.primary-menu ul{
  list-style: none;
  padding:0;
  margin:0;
}

.wbc_menu li{
  position: relative;
}

.primary-menu .wbc_menu > li{
  float:left;
}

.wbc_menu > li > a{
  display: block;
  height:100%;
  padding-left:14px;
  padding-right:14px;
  font-size: 15px;
  color:#777;
  font-weight: normal;
  text-decoration: none;
}

.wbc_menu > li:last-child > a{
  padding-right: 0;
}

.wbc_menu a:hover, 
.wbc_menu .active > a, 
.wbc_menu .current-menu-item > a{
  color:#fa8322;
}


.wbc_menu ul li a{
  width: 100%;
  display: block;
  line-height: 1.4em;
  font-size: 13px;
  color:#999999;
  text-decoration: none;
  padding:10px 14px;
  border-bottom:1px solid #2b2b2b;
}

.wbc_menu ul li:last-child>a{
  border:none;
}

.wbc_menu li > ul{
  position: absolute;
  top:100%;
  left:-55px;
  z-index: 1000;
  width:200px;
  padding-top:5px;
  padding-bottom:7px;


  background-color:#292929; /*BGCOLOR*/
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  
}

.wbc_menu li:last-child{
  border: none;
}

.wbc_menu li > ul > li > ul{
  left:-200px;
  border-top-left-radius: 2px;
  top:0;
  padding:0;
}

.wbc_menu ul{
  display: none;
}

.wbc_menu li:hover > ul,
.wbc_menu li.mega-menu:hover > ul ul{
  display: block;
}

.wbc_menu li.mega-menu{
  position: inherit;
  border: none;
}

.wbc_menu li.mega-menu > ul >li{
  width: 23.5%;
  margin-left:1%;
  padding:0 5px;
  float:left;
  border: none;
}
.wbc_menu li.mega-menu >ul{
  padding-top:21px;
  padding-bottom:14px;
  top:100%;
  left:0;
  width:100%;
}
.wbc_menu li.mega-menu >ul >li >a{
  font-weight: bold;
  color:#fff;
  font-size: 15px;
  border: none;
  padding-left:5px;
}

.wbc_menu li.mega-menu >ul >li >ul{
  position: relative;
  left:0;
  width: 100%;
}

.bottom-fixed-menu .wbc_menu li ul,
.bottom-fixed-menu .wbc_menu >li.mega-menu >ul{
  top:auto;
  bottom:100%;
}

.bottom-fixed-menu .wbc_menu >li.mega-menu >ul li ul{
  position: relative;
  top:0;
}

.bottom-fixed-menu .wbc_menu li ul li ul{
  bottom:0;
}

.bottom-fixed-menu .is-sticky .wbc_menu li ul,
.bottom-fixed-menu .is-sticky .wbc_menu >li.mega-menu >ul,
.bottom-fixed-menu.wbc-menu-down .wbc_menu li ul,
.bottom-fixed-menu.wbc-menu-down .wbc_menu >li.mega-menu >ul{
  top:100%;
  bottom:auto;
}

.bottom-fixed-menu .is-sticky .wbc_menu li ul li ul,
.bottom-fixed-menu.wbc-menu-down .wbc_menu li ul li ul{
  top:0;
}

.menu-icon{
  position: absolute;
  top:50%;
  margin-top:-21px;
  padding: 5px;
  right:15px;
  display: none;
  color: #999999;
  font-size: 22px;
}

.menu-icon:focus,
.menu-icon:active{
  color: #999999;
}

.menu-icon:hover,
.menu-icon.menu-open{
  color: #fa8322;
}

.mobile-show ul li:last-child > a{border-bottom:1px solid #2b2b2b;}

.header-bar .social-links{
  font-size:15px;
  display: inline-block;
  float: left;
}

.header-bar .social-links a{
  color:#f7f7f7;
  padding:0 5px;
  line-height: 35px;
}
.header-bar .social-links a:hover{
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.social-links > ul{
  list-style: none;
  padding: 0;
  height: 100%;
  margin-bottom: 0;
}

.social-links >ul li{
  float: left;
}

.header-bar .social-links a:hover{
  color:#fff;
}

.header-bar .social-links li:last-child a{
 padding-right:0;
}

/************************************************************************
* 5- Blog Posts
*************************************************************************/

.post{ /*Changed .posts article*/
   border-bottom:1px solid rgba(0,0,0,0.05);
   margin-bottom: 42px;
   position: relative;
}

.post-header{
  margin-bottom:14px;
}

.entry-title{
  font-size: 20px;
  margin-top:0;
}

.entry-title a{
  color:inherit;
  text-decoration:none;

  -webkit-transition: color 0.20s linear 0s;

          transition: color 0.20s linear 0s;
}

.entry-title a:hover{
  color:#fa8322;
}

.post-featured{
  margin-bottom: 14px;
  overflow: hidden;
  position: relative;
}

.blog-style-1 .post-featured .wbc-image-wrap img{
  width: 100%;
}

.entry-content{
  padding-bottom: 42px;
  word-wrap:break-word;
  overflow: hidden;
}

.single .entry-content *:last-child{
  margin-bottom: 0;
}

.entry-meta{
  font-size: 11px;
  margin-top:-6px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.entry-meta a{
  color: inherit;
}

.entry-meta span{
  margin-right:6px;
}

.more-link{
  text-align: right;
  margin-top:21px;
  color:#fff;
}

.wp-gallery-style{
  overflow: hidden;
  margin-left:-4px;
  margin-right:-4px;
}

.wp-gallery-style .gallery-item{
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  float:left;
  padding:4px;
  margin: 4px;
  background-color: #fff;
}

.wp-gallery-style .gallery-caption{
  font-size: 12px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  padding: 5px 2px;
}

/************************************************************************
* 5.1- Post Formats
*************************************************************************/

.format-link,
.format-quote{
  /*padding-bottom: 28px;*/
}

.single .link-format,
.single .quote-format{
  margin-bottom:21px;
}

.link-url{
  font-size: 12px;
  font-style: italic;
}

/************************************************************************
* 5.1.1- Link Format
*************************************************************************/

.link-format:after {
    content: "";
    font-family: fontawesome;
    font-size: 45px;
    opacity: 0.2;
    filter: alpha(opacity=20);
    position: absolute;
    right: 15px;
    top: 5px;
    z-index: 0;
}

a.link-format{
  display: block;
  background-color: #fa8322;
  text-decoration: none;
  padding:20px 10px;
  border-radius: 1px;
}

a.link-format,
a.link-format .entry-title{
  color:#fff !important;
}

a.link-format:hover{
  background-color: #2b2b2b;
  -webkit-transition: all 0.20s linear 0s;
          transition: all 0.20s linear 0s;
}

/************************************************************************
* 5.1.2- Quote Format
*************************************************************************/

.quote-format:before {
    color: #fff;
    content: "";
    font-family: fontawesome;
    font-size: 45px;
    opacity: 0.2;
    filter: alpha(opacity=20);
    position: absolute;
    right: 15px;
    top: 5px;
    z-index: 0;
    width:50px;
}

.quote-format{
  display: block;
  background-color: #fa8322;
  color:#fff;
  text-decoration: none;
  padding:25px 10px 20px;
  font-size: 18px;
  font-style: italic;
}

.quote-format span{
  display: block;
  text-align: right;
  font-size:11px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  
}

/************************************************************************
* 5.2- Blog Small Image
*************************************************************************/

.blog-style-2 .post-featured{
  float: left;
  width:320px;
  margin-right:25px;
  margin-bottom:0;
}

.blog-style-2 .post{
  padding-bottom: 42px;
}
.blog-style-2 .entry-content{
  padding-bottom:0;
}

.blog-style-2 .post-contents{
  overflow: hidden;
}

/************************************************************************
* 5.3- Blog Masonry Layout
*************************************************************************/

.blog-style-3{
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  margin-left:-15px;
  margin-right:-15px;
}

.blog-style-3 .entry-content {
  padding-bottom: 21px;
}
.blog-style-3 .post,
.blog-style-3 .type-post{
  width:33%;
  float: left;
  word-wrap:break-word;
  border:none;
  border-radius: 2px;

  padding-left: 15px;
  padding-right: 15px;

  margin-bottom:30px;
}

.blog-style-3 .post-in,
.blog-style-3 .user{
  display: none;
}

.blog-style-3 .post-contents{
  background-color: rgba(255,255,255,0.5);
  padding:15px 15px 0;
  
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-top:-2px;
}

.blog-style-3 .post-featured.audio-format{
  background-color: rgba(255,255,255,0.5);
}

.blog-style-3 .post-featured{
  margin-bottom: 0;
  padding:0 0.5px;
/*  border: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom:none;*/
}

.blog-style-3  .quote-format:before {
    right: 25px;
}

.blog-style-3 .format-link .post-contents,
.blog-style-3 .format-quote .post-contents,
.blog-style-3 .format-link,
.blog-style-3 .format-quote{
  border: none;
  background: none;
}

.blog-style-3 .format-link,
.blog-style-3 .format-quote{
  padding-bottom: 0;
  margin-bottom:9px;
}

.blog-style-3 .format-link .post-contents,
.blog-style-3 .format-quote .post-contents{
  padding: 0;
  margin-top:0;
}

.blog-style-3 .self-hosted .audio-format {
    padding: 14px 14px 0;
}

.blog-style-3 .link-format:after{
  right:25px;
}

/************************************************************************
* 5.4- Author BIO
*************************************************************************/

.author-block{
  margin-bottom:42px;
}

.author-wrap{
  padding:14px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  overflow: hidden;
}
.author-block .avatar{
  float: left;
  margin:0 14px 2px 0;
  border-radius: 2px;
}

.author-name{
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 4px;
}

.author-description{
  font-size: 12px;
}

/************************************************************************
* 5.5- Comments
*************************************************************************/

.comment-block .no-comments{
  margin-bottom: 32px;
}

.post-comments{
  padding-left: 0;
  margin-bottom: 35px;
}

.post-comments .comment{
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.05);
  padding:14px 14px 3px;
  margin-bottom:7px;
  
}
.post-comments li{
  list-style: none;
  overflow: hidden;
}

.comment-image{
  float: left;
  margin:0 12px 0 0;
  border-radius: 2px;
  border: 1px solid #fff;

}
.comment-wrap{
  overflow: hidden;
}

.comment-meta{
  padding-bottom: 7px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.comment .reply-link {
    display: inline-block;
    float: right;
    margin: -5px 0 5px;
    text-align: right;
}

.post-comments .comment-form {
    margin: 14px 0 28px;
}

.comment-form{
  /*margin-top:21px;*/
}

.comment-form label{
  font-weight: normal;
  display: block;
  opacity: 0.6;
  filter: alpha(opacity=60);
  font-size: 12px;
}

.comment-form .form-submit{
  text-align: right;
  margin:14px 0 0;
}

/************************************************************************
* 6- Widgets
*************************************************************************/

.widget{
  margin-bottom:35px;
  font-size: 12px;
}
.widget ul{
  list-style: none;
  padding:0;
  margin-bottom:0;
}

.widget ul li{
  padding:10px 0;
  border-bottom:1px solid rgba(0,0,0,0.05);
}
.widget ul >li:first-child,
.widgets-area .widget ul > li:first-child,
.widget_pages > ul > li:first-child > a,
.widget_categories > ul > li:first-child > a{
  padding-top:0 !important;
}
.widget:first-child h4{
  margin-top:0;
}
.widget-title,
.widgettitle{
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 15px;
}
.widget_pages ul ul,
.widget_categories ul ul{
  margin-left: 10px;
}

.widget_pages li,
.widget_categories li,
.widget_nav_menu li{
  padding:0 !important;
  border-bottom: none !important;
}

.widget_pages li a,
.widget_categories li a,
.widget_nav_menu li a{
  display: block;
  padding:10px 0;
  border-bottom:1px solid rgba(0,0,0,0.05);
}

.widget_calendar table{
  width:100%;
}

.widget_calendar caption{
  text-align: center;
  width: 100%;
}
.widget_calendar td,.widget_calendar th{
  width:14%;
  padding:4px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.1);
}

.widget_calendar tfoot td{
  border:none;
}

.widget_calendar tfoot td{
  text-align: left;
}

.widget_calendar tfoot #next{
  text-align: right;
}

.widget_tag_cloud a{
  font-size: 12px !important;
  color:#fff !important;
  padding:6px;
  background-color:#fa8322;
  display: inline-block;
  margin:0 4px  4px 0;
  border-radius: 3px;
}

.wbc-recent-post-widget{

}
.wbc-recent-post-widget p{
  margin-bottom:0;
/*  opacity: 0.6;
  filter: alpha(opacity=60);*/
}
.wbc-recent-post-widget a{
  color: inherit !important;
}
.wbc-recent-post-widget h6{
  margin-bottom: 4px;
}
.wbc-recent-post-widget .widget-content{
  overflow: hidden;
  word-wrap: break-word;
}
.wbc-recent-post-widget ul li{
  overflow: hidden;
}
.wbc-recent-post-widget .wbc-recent-post-img{
  width: 55px;
  float: left;
  margin-right:14px;
}


.wbc-recent-comments-widget{

}
.wbc-recent-comments-widget p,
.wbc-recent-comments-widget h6 span{
  margin-bottom:0;
/*  opacity: 0.7;
  filter: alpha(opacity=70);*/
}
.wbc-recent-comments-widget a{
  color: inherit !important;
}
.wbc-recent-comments-widget h6{
  margin-bottom: 4px;
}
.wbc-recent-comments-widget h6 span{
  font-size: 10px;
  margin-left:4px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.wbc-recent-comments-widget h6 span i{
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.wbc-recent-comments-widget .widget-content{
  overflow: hidden;
  word-wrap: break-word;
}
.wbc-recent-comments-widget ul li{
  overflow: hidden;
}
.wbc-recent-comments-widget .wbc-user-avatar{
  width: 55px;
  float: left;
  margin-right:14px;
}

.side-bar .widget:last-child,
.wpb_widgetised_column .widget:last-child{
  margin-bottom: 0;
}

.widget_text a .wbc-icon-wrapper{
  margin:0 5px 5px 0;
}

.widget_text a .wbc-icon-wrapper .wbc-icon{
  font-size: 13px;
}

/************************************************************************
* 7- Footer
*************************************************************************/

.main-footer{
  background-color: #2b2b2b;
  color:#999;
  font-size: 12px;
}

.main-footer .widgets-area{
  padding:56px 0 28px 0;
  min-height: 300px;
}

.main-footer .widgets-area h4{
  font-size: 15px;
  color:#ccc;
}

.main-footer .widgets-area .widget li{
  padding:10px 0;
  border-bottom:1px solid rgba(255,255,255,0.035);
}

.main-footer .widgets-area .wbc-recent-post-widget h6 a{
  color:#ccc !important;
}

.main-footer .widget_pages li a, 
.main-footer .widget_categories li a{
  border-bottom:1px solid rgba(255,255,255,0.035);
}

.footer-menu ul{
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin-bottom: 0;
}

.footer-menu li{
  border-right:1px solid #444;
  padding:0 8px 0 5px;
}

.footer-menu li:last-child{
  border: none;
  padding-right: 0;
}

.footer-menu ul li{
 display: inline-block;
}

.footer-menu ul > li > ul {
    display: none;
}

.bottom-band a{
  color:#888;
}

.bottom-band{
  background-color:#242424;
  color:#666;
  border-top: 1px solid #222;
  padding:17px 0;
  font-size: 11px;
}

/************************************************************************
* 8- MISC
*************************************************************************/

.wbc-color{
  color:#fa8322;
}

/************************************************************************
* 8.1- Pagination
*************************************************************************/
.wbc-pager,
.wbc-pagination{
  list-style: none;
  overflow: hidden;
  padding: 0;
}
.wbc-blog-post-wrapper .load-more a.button{
  padding:10px 14px;
}
.wbc-blog-post-wrapper .wbc-pagination{
  margin-top:10px;
  margin-bottom:0px;
}

.wbc-pager li.previous{
  float:left;
}
.wbc-pager li.next{
  float: right;
}

.wbc-pagination > li{
  display: inline;
  padding: 0 2px;
}

.wbc-pagination > li:last-child{
  padding-right: 0;
}

.wbc-pagination > li:first-child{
  padding-left: 0;
}

.wbc-pagination a, 
.wbc-pagination span,
.wbc-pager a{
  text-transform: uppercase;
  background-color: #fa8322;
  border-color: #fa8322;
  -webkit-transition: all 0.28s linear 0s;
          transition: all 0.28s linear 0s;
  color:#fff !important;
  font-weight: normal;
  font-size: 12px;
  height: 30px;
  line-height: 31px;
  min-width: 30px;
  text-align: center;
  display: inline-block;
  padding:0 10px;
  border-radius: 2px;
  text-decoration: none;
}

.wbc-pagination a:hover, 
.wbc-pagination span:hover,
.wbc-pagination .current,
.wbc-pager a:hover{
  text-decoration: none;
  background-color: #000;
  border-color: #000;
}

/************************************************************************
* 8.2- BreadCrumb
*************************************************************************/

.breadcrumb{
  background-color:transparent;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  padding-top: 5px;
}
.page-title-wrap{
  background: #f1f1f1;
  padding:28px 0 21px;
  border-bottom: 1px solid rgba(0,0,0,0.03);
}

.page-title-wrap .entry-title{
  display: inline-block;
  float: left;
  font-size: 16px;
  padding-top: 6px;
  margin-right:10px;
  
}

/************************************************************************
* 8.3- FlexSlider
*************************************************************************/
.flexslider{
  border: none;
  box-shadow: none;
  background-color: transparent;
  margin: 0;
}

.flex-direction-nav{
  position: absolute;
  right:62px;
  top:0;
}

.flex-direction-nav a{
  background: none;
  text-decoration: none;
}
.flex-direction-nav a:before,
.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next,
.flex-direction-nav .flex-prev:hover,
.flex-direction-nav .flex-next:hover{
  opacity: 1;
  filter: alpha(opacity=100);
  top:2px;
  left:2px;
  width: 28px;
  height: 28px;
  line-height: 28px !important;
  text-align: center;
  background-color: #fa8322;
  overflow: hidden;
  margin: 0;
  border-radius: 2px;

  text-indent: 0;
}

.flex-direction-nav a:before{
  content:"";
  font-family: "FontAwesome";
  font-size: 16px;
  color:#fff ;
  background: none;
  display: block;

}

.flex-direction-nav a.flex-next{
  left:32px
}

.flex-direction-nav a.flex-next:before{
  content:"";
}

.flex-direction-nav a.flex-prev:before{
  content:"";
}

.flexslider:hover .flex-prev { opacity: 1; filter: alpha(opacity=100); left: 2px; }
.flexslider:hover .flex-next { opacity: 1; filter: alpha(opacity=100); left:32px; right: auto; }

/************************************************************************
* 8.4- Image Wrapper
*************************************************************************/

.wbc-image-wrap{
  position: relative;
  overflow: hidden;
}

.item-link-overlay{
  height:100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  display: block;
  z-index: 1;

  background-color: #fa8322;
  opacity: 0;
  filter:alpha(opacity=0);
  
  color:#fff;
}
.wbc-extra-links{
  position: absolute;
  top:-100%;
  display: block;
  left: 0;
  right:0;
  z-index: 2;
  text-align: center;
  pointer-events:none;
}

.wbc-extra-links,
.wbc-extra-links a,
.wbc-extra-links a:hover,
.wbc-extra-links a:visited{
  color:#fff !important;
}

.wbc-extra-links a{
  border: 1px solid #fff;
  line-height: 28px;
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 14px;
  margin-right: 3px;
  border-radius: 3px;
  background-color: transparent;
  pointer-events:auto;

}

.wbc-extra-links a:last-child{
  margin-right:0;
}

.wbc-extra-links a:hover{
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition:opacity 0.20s linear 0s;
          transition:opacity 0.20s linear 0s;
}

/************************************************************************
* 8.5- Form Fields
*************************************************************************/

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
select{
  border:1px solid rgba(0,0,0,0.05);
  padding:0 7px;
  height:35px;
  line-height: 35px;
  line-height: normal;
  border-radius: 2px;

  width: 100%;
}
input[type="text"]:focus,
input[type="search"]:focus,
textarea:focus{
  
}
textarea{
  border:1px solid rgba(0,0,0,0.05);
  padding:7px;
  border-radius: 2px;
  width: 100%;
}

label{
  font-weight: normal;
  color: inherit;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 12px;
}

.transparent-forms input[type="text"],
.transparent-forms input[type="password"],
.transparent-forms input[type="email"],
.transparent-forms input[type="search"],
.transparent-forms select,
.transparent-forms textarea{
  border:1px solid rgba(255,255,255,0.19);
  background-color: rgba(0,0,0,0.1);
}

/************************************************************************
* 8.6- Button Styles
*************************************************************************/

.button,input[type="submit"]{
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid #adadad;
  border-radius: 2px;
  color:#fff !important;
}

.button:hover,
.button:focus,
.button:active{
  color:#fff !important;
  text-decoration: none;
}
.button:hover{
  opacity:0.8;
  filter: alpha(opacity=80);
}

.btn,
.form-control{
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 !important;
  font-size: 13px;
  border-color:#fff;
  box-shadow: none;
}
.btn:focus,
.btn:hover,
.btn.active{
  color:#fff;
}
.btn-lg{
  font-size: 14px;
}
.btn-sm{
  font-size: 11px;
}

.btn-xs{
  font-size:10px;
}
.transparent,
.transparent:hover{
  background:transparent !important;
}

.btn-primary,
.btn-primary:hover,
input[type="submit"]{
    background-color: #fa8322;
    border-color: #fa8322;
    /*color: inherit;*/
}

.btn-primary:hover,
input[type="submit"]:hover{
  -webkit-transition: all 0.28s ease-in-out 0s;
          transition: all 0.28s ease-in-out 0s;
  
  border-color: #000;
  background-color: #000;
}

/************************************************************************
* 8.7- isoType
*************************************************************************/

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
            transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
            transition-property: transform, opacity;
}
.isotope-item .img-frame {
    opacity: 0.999999;
    filter: alpha(opacity=99);
}


/************************************************************************
* 9- Media Queries
*************************************************************************/

/*Small blog image*/
@media (max-width: 767px) {
  .blog-style-2 .post-featured {
      float: none;
      width: auto;
      margin-right: 0;
  }
  .has-top-bar .page-wrapper{padding:83px 0 0;}

  /*MenuBar*/
  .menu-icon{
    display: block;
  }

  .top-extra-bar{display: none;}

  .has-top-bar .page-wrapper{padding:83px 0 0;overflow: hidden;}

  /*Mobile Menu*/
  .mobile-menu .header-inner{
    position: inherit;
  }

  .mobile-menu .site-logo-title.has-logo{
    padding-left: 15px;
  }

  .mobile-menu .wbc_menu li > ul{
    position: relative;
    top:0;
    left:0 !important;
    width: 100%;
  }
  .mobile-menu .primary-menu .wbc_menu a{
    line-height: 1.4em;
    font-size: 15px;
    color:#999999;
    text-decoration: none;
    padding:10px 14px;
  }
  .mobile-menu .wbc_menu li a:hover,
  .mobile-menu .wbc_menu li.mega-menu ul li a:hover{
    color:#fa8322;
  }
  .mobile-menu .primary-menu{
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
    display: none;
  }
  .mobile-menu .primary-menu ul li,
  .mobile-menu .wbc_menu li.mega-menu ul li{
    float: none;
    width: 100%;
  }
  .mobile-menu .wbc_menu li.mega-menu > ul{
    padding:0;
  }
  .mobile-menu .wbc_menu li ul{
    display: block;
  }
  .mobile-menu .primary-menu{
    padding:5px 0 20px;
    height: auto;
  }
  .mobile-menu .primary-menu,
  .mobile-menu .wbc_menu a{
    background-color:#292929; /*BGCOLOR*/
    color: #999999;

  }
  .mobile-menu .wbc_menu li.mega-menu > ul > li{
    margin:0;
    padding:0;
  }
  .mobile-menu .wbc_menu li.mega-menu ul a{
    font-weight: inherit;
    color: inherit;
  }

  .mobile-menu .wbc_menu li a{
    border-bottom:1px solid #2b2b2b !important;
  }

  .mobile-menu .wbc_menu > li:last-child a{
    /*border:none !important;*/
  }
}

@media only screen and (max-width: 500px) {
    #pp_full_res iframe{width: 100% !important;height: auto !important;}
    .pp_pic_holder.pp_default { width: 96%!important; left: 2%!important; overflow: hidden; }
    div.pp_default .pp_content_container .pp_left { padding-left: 0!important; }
    div.pp_default .pp_content_container .pp_right { padding-right: 0!important; }
    .pp_content { width: 100%!important; height: auto!important; }
    .pp_fade { width: 100%!important; height: 100%!important; }
    a.pp_expand, a.pp_contract, .pp_hoverContainer, .pp_gallery, .pp_top, .pp_bottom { display: none!important; }
    #pp_full_res img { width: 100%!important; height: auto!important; }
    a.pp_close { right: 10px!important; top: 10px!important; }
    .pp_details { width: 100%!important; padding-left: 3%; padding-right: 4%; padding-top: 10px; padding-bottom: 10px; background-color: #fff; margin-top: -2px!important; }
}
